
.mdArticle iframe {
    margin-bottom: calc(var(--iframe-anti-margin) * -1);
}

.mdArticle iframe[full*="true"] {
    z-index: 20;
}

.mdArticle iframe + :not(iframe) {
    margin-top: calc(var(--emphasized-content-margin) + var(--iframe-anti-margin));
}