
.mdArticle img {
    max-width: 100%;
}

.mdArticle p img {
    margin-bottom: calc(var(--p-margin) * -1);
}

.mdArticle img[alt*="md.expand"] {
    width: 100%;
}
.md-full img {
    position: relative;
    width: 100vw;
    max-width: none;
    margin-bottom: 0px !important;
}

.mdArticle img[alt*="md.center"] {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.mdArticle img:last-child {
    margin-bottom: calc(var(--emphasized-content-margin) - 10px);
}

@media only screen and (min-width: 1200px) {
    .mdArticle img[alt*="md.parallax"], .mdArticle .parallax, .mdArticle *[parallax] {
        position: absolute;
        left: 100%;
        z-index: -30;
        width: var(--app-side-width);
        max-width: none;
        min-width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    
    .mdArticle img[alt*="md.parallax"], .mdArticle .parallax, .mdArticle *[parallax] {
        --parallax-coeff: 0.0;
    }
    .mdArticle img[alt*="md.parallax"] {
        width: 100%;
    }
    .mdArticle img[alt*="md.not-in-article"] {
        display: none;
    }
}

.mdArticle img[alt*="md.invert"], .mdArticle .invert, .mdArticle *[invert] {
    filter: invert(100%);
}

.mdArticle img[alt*="md.desaturate"], .mdArticle .desaturate, .mdArticle *[desaturate] {
    filter: saturate(0%);
}

.mdArticle img[alt*="md.invert-desaturate"], .mdArticle .invert-desaturate, .mdArticle *[invert-desaturate] {
    filter: invert(100%) saturate(0%);
}