
.glitch-2 .before, .glitch-2 .after,
.glitch-2-hover .before, .glitch-2-hover .after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #000;
    clip: rect(0, 900px, 0, 0);
}

.glitch-2 .before,
.glitch-2-hover:hover .before {
    left: 3px;
    text-shadow: 1px 0 green;
    animation: glitch-effect 6s infinite linear alternate-reverse;
}

.glitch-2 .after,
.glitch-2-hover:hover .after {
    left: 1px;
    text-shadow: -1px 0 red;
    animation: glitch-effect 4s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
    0% {
        clip: rect(30px, 9999px, 5px, 0);
    }
    5% {
        clip: rect(64px, 9999px, 20px, 0);
    }
    10% {
        clip: rect(65px, 9999px, 29px, 0);
    }
    15% {
        clip: rect(71px, 9999px, 9px, 0);
    }
    20% {
        clip: rect(25px, 9999px, 62px, 0);
    }
    25% {
        clip: rect(18px, 9999px, 75px, 0);
    }
    30% {
        clip: rect(7px, 9999px, 72px, 0);
    }
    35% {
        clip: rect(56px, 9999px, 28px, 0);
    }
    40% {
        clip: rect(50px, 9999px, 49px, 0);
    }
    45% {
        clip: rect(56px, 9999px, 10px, 0);
    }
    50% {
        clip: rect(12px, 9999px, 43px, 0);
    }
    55% {
        clip: rect(62px, 9999px, 84px, 0);
    }
    60% {
        clip: rect(91px, 9999px, 33px, 0);
    }
    65% {
        clip: rect(58px, 9999px, 47px, 0);
    }
    70% {
        clip: rect(4px, 9999px, 84px, 0);
    }
    75% {
        clip: rect(85px, 9999px, 93px, 0);
    }
    80% {
        clip: rect(39px, 9999px, 46px, 0);
    }
    85% {
        clip: rect(41px, 9999px, 89px, 0);
    }
    90% {
        clip: rect(51px, 9999px, 68px, 0);
    }
    95% {
        clip: rect(91px, 9999px, 40px, 0);
    }
    100% {
        clip: rect(58px, 9999px, 80px, 0);
    }
}

@keyframes glitch-effect {
    0% {
        clip: rect(30px, 9999px, 5px, 0);
    }
    5% {
        clip: rect(64px, 9999px, 20px, 0);
    }
    10% {
        clip: rect(65px, 9999px, 29px, 0);
    }
    15% {
        clip: rect(71px, 9999px, 9px, 0);
    }
    20% {
        clip: rect(25px, 9999px, 62px, 0);
    }
    25% {
        clip: rect(18px, 9999px, 75px, 0);
    }
    30% {
        clip: rect(7px, 9999px, 72px, 0);
    }
    35% {
        clip: rect(56px, 9999px, 28px, 0);
    }
    40% {
        clip: rect(50px, 9999px, 49px, 0);
    }
    45% {
        clip: rect(56px, 9999px, 10px, 0);
    }
    50% {
        clip: rect(12px, 9999px, 43px, 0);
    }
    55% {
        clip: rect(62px, 9999px, 84px, 0);
    }
    60% {
        clip: rect(91px, 9999px, 33px, 0);
    }
    65% {
        clip: rect(58px, 9999px, 47px, 0);
    }
    70% {
        clip: rect(4px, 9999px, 84px, 0);
    }
    75% {
        clip: rect(85px, 9999px, 93px, 0);
    }
    80% {
        clip: rect(39px, 9999px, 46px, 0);
    }
    85% {
        clip: rect(41px, 9999px, 89px, 0);
    }
    90% {
        clip: rect(51px, 9999px, 68px, 0);
    }
    95% {
        clip: rect(91px, 9999px, 40px, 0);
    }
    100% {
        clip: rect(58px, 9999px, 80px, 0);
    }
}
