#mcrode {
    z-index: 12;
}

#mcrode a {
    border: none;
}

#mainMenu {
    position: -webkit-sticky;
    position: var(--main-menu-pos);
    top: 0px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: var(--p-margin);
}

#mainMenu .cover {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100%;
    left: calc(var(--app-left) * -1);
    background: #000000;
    border-bottom: solid;
}

#mainMenu .flexing {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    flex-direction: var(--main-menu-flexdir);
    justify-content: space-between;
}

#mainMenu .menuItem {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.logo {
    position: relative;
    left: calc(var(--app-left) * -1);
    width: 100vw;
    height: calc(100vh);
    overflow: hidden;
    max-width: none;
    z-index: 0;
    margin-bottom: -200px;
}

div.logo video {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    height: 100%;
    filter: contrast(1.05);
}

div.logo.shadertoy {
    margin-bottom: -5vh;
}

iframe.logo {
    margin-top: -30px;
}