:root {
    --app-left: 15vw;
    --app-width: 60vw;
    --p-margin: 8px;
}

body {
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
#fakeBody {
    width: 100%;
}
body, #fakeBody {
    overflow-x: hidden;
}
body, div, img {
    margin: 0;
    padding: 0;
    line-height: 1.44;
}
body::-webkit-scrollbar {
    width: 0px;
}
body::-webkit-scrollbar * {
    background: transparent;
}
body::-webkit-scrollbar-track {
    display: none;
}
body::-webkit-scrollbar-thumb {
    background: white !important;
}

@media only screen and (max-width: 1000px) {
    :root {
        --app-left: 7.5vw;
        --app-width: 80vw;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --app-left: 5vw;
        --app-width: 90vw;
    }
}

#appRoot {
    position: relative;
    width: var(--app-width);
    left: var(--app-left);
    max-width: 800px;
}


a {
    color: inherit;
    text-decoration: none;
    border-bottom: white solid 1px;
    padding-bottom: 1px;
}
a:hover {
    border-bottom: white solid 3px;
    padding-bottom: 0px;
}

p {
    margin-top: 0;
    margin-bottom: var(--p-margin);
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
}
pre, code {
    font-family: 'Fira Code', monospace;
}
p code {
    background-color: rgba(125,125,125,0.45);
    padding: 0px 3px;
    margin: 0px 2px;
}

h1, h2, h3, h4 {
    font-style: normal;
    font-weight: normal;
}
h1, .h0 {
    font-family: 'Iceberg', sans-serif;
    font-size: 64px;
}
h2 {
    font-family: 'Kelly Slab', sans-serif;
    font-size: 36px;
}
h3 {
    font-family: 'Quantico', sans-serif;
    font-size: 27px;
}
h4 {
    font-family: 'Quantico', sans-serif;
    font-size: 20px;
}

.h0 {
    font-size: 96px;
}

.mdArticle {
    position: relative;
    top: 0px;
    margin-top: 50px;
}

.mdArticle::before {
    display: block;
    width: 100vw;
    content: "";
    position: absolute;
    top: 0px;
    left: calc(var(--app-left) * -1);
    border-bottom: solid #fff;
}

.mdArticle img {
    max-width: 100%;
}

.mdArticle p img {
    margin-bottom: calc(var(--p-margin) * -1);
}

.mdArticle img[alt*="md.expand"] {
    width: 100%;
}

.mdArticle img[alt*="md.full"] {
    position: relative;
    max-width: none;
    width: 100vw;
    left: calc(var(--app-left) * -1);
    z-index: 20;
}

.mdArticle img[alt*="md.center"] {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.mdArticle iframe {
    margin-bottom: -6px;
}

.mdArticle iframe[full*="true"] {
    z-index: 20;
}

.thumb {
    background-color: white;
}

#mainMenu {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: -50px;
}

#mainMenu .cover {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100%;
    left: calc(var(--app-left) * -1);
    background: black;
    border-bottom: solid;
}

#mainMenu .flexing {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#mainMenu .menuItem {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}