:root {
    --app-left: 15vw;
    --app-width: 60vw;
    --p-margin: 18px;
    --anchor-offs: -200px;
    --main-menu-pos: sticky;
    --main-menu-flexdir: row;
    
    --app-calc-width: calc(min(var(--app-width), 800px));
    --app-total-width: calc(var(--app-calc-width) + var(--app-left));
    --app-side-width: calc(100vw - var(--app-total-width));
    --app-side-center: calc(100vw - var(--app-side-width) / 2);

    --approot-shadows: calc(var(--app-side-width) * 0.25);

    scroll-behavior: smooth;
}

@media only screen and (max-width: 1000px) {
    :root {
        --app-left: 7.5vw;
        --app-width: 80vw;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --app-left: 5vw;
        --app-width: 90vw;
        --main-menu-pos: relative;
        --main-menu-flexdir: column;
    }
}

body {
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
#fakeBody {
    width: 100%;
}
body, #fakeBody {
    overflow-x: hidden;
}
body, div, img {
    margin: 0;
    padding: 0;
    line-height: 1.44;
}
body::-webkit-scrollbar, #root::-webkit-scrollbar {
    width: 0px;
}
body::-webkit-scrollbar *, #root::-webkit-scrollbar * {
    background: transparent;
}
body::-webkit-scrollbar-track, #root::-webkit-scrollbar-track {
    display: none;
}
body::-webkit-scrollbar-thumb, #root::-webkit-scrollbar-thumb {
    background: white !important;
}

#root {
    scroll-behavior: smooth;
    position: fixed;
    width: 100vw;
    height: 100vh;
    perspective: 10px;
    perspective-origin: var(--app-side-center);
    overflow-y: scroll;
    overflow-x: hidden;
}

#appRoot {
    position: relative;
    width: var(--app-width);
    left: var(--app-left);
    max-width: 800px;
    background: black;
    box-shadow: var(--approot-shadows) 0px var(--approot-shadows) black;
}


a {
    color: inherit;
    text-decoration: none;
    border-bottom: white solid 1px;
    padding-bottom: 1px;
}
a:hover {
    border-bottom: white solid 3px;
    padding-bottom: 0px;
}

p {
    margin-top: 0;
    margin-bottom: var(--p-margin);
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
}
pre, code {
    font-family: 'Fira Code', monospace;
    -moz-tab-size: 4;
    tab-size: 4;
}
p code {
    background-color: rgba(125,125,125,0.45);
    padding: 0px 3px;
    margin: 0px 2px;
    -moz-tab-size: 4;
    tab-size: 4;
}

h1, h2, h3, h4 {
    font-style: normal;
    font-weight: normal;
}
h1, .h0 {
    font-family: 'Iceberg', sans-serif;
    font-size: 64px;
}
h2 {
    font-family: 'Kelly Slab', sans-serif;
    font-size: 36px;
}
h3 {
    font-family: 'Quantico', sans-serif;
    font-size: 27px;
}
h4 {
    font-family: 'Quantico', sans-serif;
    font-size: 20px;
}

.h0 {
    font-size: 96px;
}

table {
    width: 100%;
}

.mdArticle {
    position: relative;
    top: 0px;
    margin-top: 50px;
}

.mdArticle::before {
    display: block;
    width: 100vw;
    content: "";
    position: absolute;
    top: 0px;
    left: calc(var(--app-left) * -1);
    border-bottom: solid #fff;
}

.mdArticle img {
    max-width: 100%;
}

.mdArticle p img {
    margin-bottom: calc(var(--p-margin) * -1);
}

.mdArticle img[alt*="md.expand"] {
    width: 100%;
}

.mdArticle img[alt*="md.full"] {
    position: relative;
    max-width: none;
    width: 100vw;
    left: calc(var(--app-left) * -1);
    z-index: 20;
}

.mdArticle img[alt*="md.center"] {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

@media only screen and (min-width: 1200px) {
    .mdArticle img[alt*="md.side-parallax"] {
        position: relative;
        left: 100%;
        transform: translate(0, 25%) translateZ(-20px) scale(3);
        margin-bottom: calc(max(var(--app-side-width), 100%) * -1);
        z-index: -30;
        width: var(--app-side-width);
        max-width: none;
        min-width: 100%;
    }
}
@media only screen and (max-width: 1200px) {
    .mdArticle img[alt*="md.side-parallax"] {
        width: 100%;
    }
}

.mdArticle iframe {
    margin-bottom: -6px;
}

.mdArticle iframe[full*="true"] {
    z-index: 20;
}

.thumb {
    background-color: white;
}

#mcrode {
    z-index: 12;
}

#mcrode a {
    border: none;
}

#mainMenu {
    position: -webkit-sticky;
    position: var(--main-menu-pos);
    top: 0px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: -50px;
}

#mainMenu .cover {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100%;
    left: calc(var(--app-left) * -1);
    background: black;
    border-bottom: solid;
    margin-top: -134px;
    border-top: solid 134px black;
}

#mainMenu .flexing {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    flex-direction: var(--main-menu-flexdir);
    justify-content: space-between;
}

#mainMenu .menuItem {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#footer {
    height: 150px;
}

div.logo {
    position: relative;
    left: calc(var(--app-left) * -1);
    width: 100vw;
    height: calc(100vh - 86px);
    /* overflow: hidden; */
    max-width: none;
    z-index: 0;
    margin-bottom: -116px;
}

div.logo video {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    height: 100%;
    filter: contrast(1.05);
}

div.logo.shadertoy {
    margin-bottom: -5vh;
}

iframe.logo {
    margin-top: -30px;
}

@media only screen and (min-width: 1200px) {
    .mdSideToc {
        position: sticky;
        top: 140px;
        transform: translate(var(--app-calc-width), 0);
        height:0px;
        z-index: 0;
        width: var(--app-side-width);
        max-width: none;
        min-width: 100%;
    }
}