/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */
body {
	background-color: #63D4C5 !important;
}
.about {
    /* background-size: contain !important; */
}
ul.nobullet {
    list-style-type: none;
    padding-left: 15px;
}
table.datasheet tr td:first-child {
    text-align: right;
    font-weight: bold;
}
.inline-block {
    display: inline-block !important;
    margin-bottom: 0px !important;
}
.work-image canvas, .work-image .bpg{
    position: relative;
    top: -360px;
    margin-bottom: 0px;
}
